// styles in src/style directory are applied to the whole page
@import '~foundation-sites/scss/foundation';
@include foundation-everything;

body {
    background: #0147A7;
    color: #fff;
}
a {
    color: #03A9F4;
}
